/* .form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.input-group-text {
  position: absolute;
  z-index: 3;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
} */

.main_container {
  background-color: rgb(73, 73, 83);
  padding:2px 2px;
  
}

.logo_section img {
  height: 15vh;
  width: 12vw;
}