/* .form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.input-group-text {
  position: absolute;
  z-index: 3;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
} */